body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 102, 20);
}

#header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  text-align: center;
  border-style: double;
  border-radius: 25px;
  width: 400px;
  height: 200px;
  background-color: rgb(51, 56, 61);
  color: rgb(228, 191, 29);
}
#title {
  font-size: 33px;
}

#subTitle {
}

#buttonBox {
  display: flex;
  justify-content: space-evenly;
}

#instruct {
  justify-self: center;
  font-size: x-large;
  color: rgb(228, 191, 29);
  padding-top: 20px;
  padding-bottom: 10px;
}

#rock {
  font-size: 100px;
  background-color: black;
  border-radius: 25px;
  margin: 10px;
}

#paper {
  font-size: 100px;
  background-color: black;
  border-radius: 25px;
  margin: 10px;
}

#scissors {
  font-size: 100px;
  background-color: black;
  border-radius: 25px;
  margin: 10px;
}

#gameDispBox {
  display: flex;
  height: 300px;
  width: 600px;
  justify-content: space-evenly;
  
}

#pDisp {
  width: 250px;
  height: 450px;
  margin-top: 20px;
}

#yChoice {
  text-align: center;
  font-size: 55px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;

  

}

#pTxt {
  text-align: center;
  font-size: 35px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

#pNum {
  text-align: center;
  font-size: 35px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

#cDisp {
  width: 250px;
  height: 450px;
  margin-top: 20px;
}

#robotChoice {
  text-align: center;
  font-size: 55px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;

}

#cTxt {
  text-align: center;
  font-size: 35px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;

}

#cNum {
  text-align: center;
  font-size: 35px;
  color: rgb(228, 191, 29);
  background-color: rgb(51, 56, 61);
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

#WorL {
  text-align: center;
  color: rgb(228, 191, 29);
  font-size: 100px;
  height: 500px;
  width: 500x;

}